@import "reset";

// global variables
$font-family: Helvetica, Arial, sans-serif;
$background-color: #E9EBEE;
$header-color: #4267b2;
$header-icon-color: #1e3c5f;
$header-divider-color: #d7e2ec;
$header-divider-color: #0000001a;
$menu-font-color: #74777C;
$menu-font-color-active: #1D2129;
$post-background-color: #F5F5F5;
$post-author-color: #385898;
$delimiter-color: #e8e8e8;

body {
    font-family: $font-family;
    background: $background-color;
    padding-top: 46px; // зарезервировано для fixed header'а
}

// user common style
.user {
    display: flex;
    align-items: center;

    &-avatar {
        object-fit: cover;
        border-radius: 50%;
    }
}

.delimiter { // вертикальная черточка
    height: 1px;
    border-bottom: 2px solid $delimiter-color;
    margin: 0 16px 16px 16px;
}

.header {
    background-color: $header-color;
    padding: 6px 0;
    font-family: Arial, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 46px;
    z-index: 99;

    &-block {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1280px) {
            width: 95%;
        }

        .hamburger {
            display: none;
            @media (max-width: 840px) {
                display: flex;
            }
            border: none;
            width: 24px;
            height: 24px;
            background-color: transparent;
            padding: 0;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 12px;

            span {
                width: 100%;
                height: 2px;
                background-color: white;
            }
        }

        .search-input {
            padding: 5px 3px 5px 12px;
            //width: 100%;
            //max-width: 336px; // todo поправить - не работало - поменяли на width
            width: 336px;
            flex-basis: 330px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            background: #ffffff url('../img/search-icon.svg') no-repeat right 10px center;
            font-size: 14px;
            line-height: 22px;
            @media (max-width: 760px) {
                display: none;
            }
        }

        // user
        .user {
            @media (max-width: 960px) {
                display: none;
            }

        }

        .user-avatar {
            margin-right: 8px;
            width: 32px;
            height: 32px;
        }

        .user-name {
            color: white;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
        }

        // navigagion
        .navigation {
            display: flex;
            align-items: center;
        }

        .navigation-panel {
            margin-left: 12px;
            display: flex;
            align-items: center;
            @media (max-width: 960px) {
                display: none;
            }

        }

        .navigation-link {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
            font-size: 14px;
            line-height: 22px;
            font-weight: 600;
            margin-left: 12px;

            &:after, &:first-child:before {
                content: "";
                background: $header-divider-color;
                width: 1px;
                height: 16px;
                margin-left: 12px;
            }

            &:first-child:before {
                margin-left: 0;
                margin-right: 12px;
            }
        }

    }

    .icons-panel {
        display: flex;
        align-items: center;
    }

    .icon-link {
        margin-left: 17px;
        display: flex; // чтобы отображался псеводэлемент after
        align-items: center;
        position: relative; // для позиционирования беджа уведомлений

        &:nth-child(4):before { // вертикальные разделители
            content: "";
            width: 1px;
            height: 16px;
            background: $header-divider-color;
            margin-right: 12px;
        }

        .notification {
            width: 18px;
            height: 18px;
            left: 10px;
            bottom: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background: #F5222D;
            border: 1px solid #FFFFFF;
            border-radius: 16px;
            color: white;
            font-size: 12px;
            font-weight: normal;
        }
    }

    &-icon {
        fill: $header-icon-color;

        &:hover {
            fill: white;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding-top: 16px;
    display: flex; // чтобы были колонки - left sidebar, main-feed, right sidebar
    align-items: flex-start; // все колонки притянуты к верху
    justify-content: flex-start;
    @media (max-width: 1280px) {
        width: 95%;
    }
}

.menu-sidebar {
    width: 192px;
    margin-right: 12px;
    padding-left: 8px;
    color: $menu-font-color;
    position: fixed; // чтобы не двигаться при прокрутке
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 840px) {
        position: fixed;
        left: 0;
        top: 48px;
        width: 100%;
        max-width: 250px;
        background-color: #f1f1f1;
        padding-top: 20px;
        height: 100%;
        padding-left: 2%;
        transform: translateX(-100%); // в обычном состоянии - спрятано за экраном
        transition: transform 0.3s;
    }

    &.active {
        transform: translateX(0%);
    }

    .user {
        padding-left: 10px;

        & .user-avatar {
            width: 24px;
            height: 24px;
            margin-right: 8px;
        }

        & .user-name {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            //color: $menu-font-color;
        }
    }

    .nav-group {
        margin-bottom: 24px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-link {
        padding: 4px 8px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        text-decoration: none;
        color: $menu-font-color;
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;

        &.active {
            background: white;
            color: $menu-font-color-active;
            font-weight: 600;
        }

        & .nav-text {
            margin-left: 8px;
        }
    }

    .nav-title {
        padding-left: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 4px;
        margin-top: 0;
    }

}

.main-feed {
    max-width: 588px;
    //width: 588px;
    flex-shrink: 0;
    flex-grow: 1;
    @media (min-width: 840px) {
        margin-left: 204px; // чтобы не сдигаться влево , т.к. menu-sidebar: position fixed
    }
    .create-post {
        background: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        overflow: hidden; // чтобы не нарушалось скругление
    }

    .create-post__header {
        background: $post-background-color;
        padding: 9px 16px;
        border-bottom: 1px solid #D9D9D9;
    }

    .create-post__title {
        color: #595959;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }

    .create-post__body {
        padding: 16px 16px 24px 16px;
        display: flex;
        align-items: flex-start;
    }

    .create-post__input {
        margin-left: 16px;
        padding-top: 8px;
        width: 100%;
        word-wrap: break-word;
        overflow: hidden;
        //overflow-x: hidden;
        //overflow-y: auto;
    }


    .create-post__footer {
        display: flex;
        align-items: center;
        padding: 0 16px 16px 16px;

        .tag {
            background: #EBEDF0;
            border-radius: 48px;
            border-style: none;
            padding: 9px 12px;
            display: flex;
            align-items: center;

            &:nth-child(1) {
                max-width: 134px;
            }

            &:nth-child(2) {
                max-width: 125px;
            }

            &:nth-child(3) {
                max-width: 148px;
            }

            svg:not(:last-child) {
                margin-right: 8px;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }

            &:last-child {
                width: 48px;
            }

            &-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .post {
        background: white;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 16px 0;
        padding: 16px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            .user-avatar {
                width: 48px;
                height: 48px;
                margin-right: 12px;
            }

            .post__info {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .post__author {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    text-decoration: none;
                    color: $post-author-color;
                    width: 100%; // чтобы был перенос данных "времени" на другцю строку
                }

                .post__time {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #8c8c8c;

                    &:after { // кружочек между "временем поста" и иконкой настроек
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        background-color: #bfbfbf;
                        border-radius: 50%;
                        margin-right: 6px;
                        margin-left: 6px;
                        vertical-align: middle;
                    }
                }
            }
        }

        &__header-button {
            border: none;
            background-color: #fff;
        }

        &__text {
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #1d2129;
            margin-bottom: 16px;

            a {
                color: #096dd9;
            }
        }

        &__image {
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
        }

        .likes {
            margin-top: 9px;
            margin-bottom: 9px;
            display: flex;
            align-items: center;

            &__counter {
                color: #595959;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                margin-left: 4px;
            }
        }

        &__footer {
            display: flex;
            justify-content: space-around;

        }

        &__button {
            display: flex;
            align-items: center;
            background-color: white;
            border: none;

            svg {
                fill: #595959;
            }

            &-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #595959;
                margin-left: 8px;
            }
        }
    }
}

.right-sidebar {
    width: 384px;
    margin-left: 16px;
    margin-right: 16px;

    @media (max-width: 1280px) {
        display: none;
    }
    .stories{
        background: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px 16px 16px 24px;
    }
    .stories__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .stories__title {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }

    .stories__button {
        display: flex;
        align-items: center;

        &-link {
            display: flex;
            align-items: center;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #0050b3;
            text-decoration: none;

            &:first-child::after { // круглая кнопочка между Архив и Настройки
                content: "";
                width: 4px;
                height: 4px;
                background-color: #bfbfbf;
                border-radius: 50%;
                margin: 0 8px;
            }
        }

        &-link svg {
            fill: #0050b3;
        }
    }

    .stories__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        margin-bottom: 16px;

        &-add {
            width: 48px;
            height: 48px;
            background: $post-background-color;
            border: 1px solid #D9D9D9;
            border-radius: 50%;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1890ff;
        }

        .user-avatar {
            width: 48px;
            height: 48px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            margin-left: 12px;

        }

        .stories__title {
            font-size: 14px;
            line-height: 22px;
            color: #0050B3;
        }

        .stories__text {
            font-size: 14px;
            line-height: 22px;
            color: #8C8C8C;
        }
    }
    .birthdays {
        background: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px 16px 16px 24px;
        margin-top: 16px;
        &__item{
            display: flex;
            align-items: center;
        }
        .birthdays__block{
            //display: inline-flex;
            //align-items: center;
            margin-left: 8px;
            //flex-wrap: wrap;
            a {
                text-decoration: none;
            }
            .birthdays__user{
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: #0050B3;
            }
            .birthdays__text{
                text-wrap: normal;
            }
        }
    }
}

